
@font-face {
    font-family: 'swiss_721bold_condensed';
    src: url('fonts/swiss-webfont.eot');
    src: url('fonts/swiss-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/swiss-webfont.woff') format('woff'),
         url('fonts/swiss-webfont.ttf') format('truetype'),
         url('fonts/swiss-webfont.svg#swiss_721bold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'swis721_cn_btroman';
    src: url('fonts/swis721_cn-webfont.eot');
    src: url('fonts/swis721_cn-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/swis721_cn-webfont.woff') format('woff'),
         url('fonts/swis721_cn-webfont.ttf') format('truetype'),
         url('fonts/swis721_cn-webfont.svg#swis721_cn_btroman') format('svg');
    font-weight: normal;
    font-style: normal;

}